.welcome{
    background-image: url('../../../../assets/img/chichen-itza.jpg');
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    
}
.text{
    position: absolute;
    display: flex;
    left: 50%;
    top: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f1e4e4a6;
    padding: 30px;
}
.text h1{
    font-size: 5em;
    text-shadow: 5px 5px 15px #464545;
    font-weight: 700;
    line-height: 1em;
    text-align: center;
}
.text h1 span{
    color: #f3ca11;
}
.text p{
    font-size: 1.5em;
}