.login{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login h2{
    font-size: 2em;
}
.imageLogin{
    background-color: #3F51B5;
    
    min-height: 100vh;
    background-image: url('./../../../assets/img/street.jpg');
    background-position: center;
    background-size: cover;
}

.formLogin{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.formLogin form{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.input{
    width: 50%;
}
